blockquote {
  border-radius: 2px;
  padding: 0.0em 0.8em 0.1em .8em !important;
  margin: 1em 0 0 0 !important;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 0px;
  border-left-width: 3rem;
  background: white;
  border-color:  #000000;
}

body.vscode-high-contrast blockquote {
  border-radius: 2px;
  padding: 0.0em 0.8em 0.1em .8em !important;
  margin: 1em 0 0 0 !important;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 0px;
  background: transparent;
  color: white!important;
  border-color:  #000000;
}

blockquote ul {
  color:  #000000;
  margin: 1rem 0 1.1rem 2.5rem;
  border-left-width: 3rem;
}

blockquote p {
  margin: 0px 0 10px 0;
}

blockquote p:first-child { 
  margin-top: 15px;
  color:  #000000;
}

blockquote hr {
  border:transparent;
  height: 1px;
}

blockquote a {
    color: hsla(206,100%,15%,1);
    color: var(--primary-dark);
    text-decoration: none;
}

blockquote span {
  display: block;
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-top: 1rem;
  margin-bottom: 0;
}

blockquote > pre {
  margin-bottom: .8rem;
}

body.vscode-high-contrast blockquote > pre > code > div {
  color: white;
}

.content blockquote > ul {
  margin-bottom: .9rem;
}

blockquote.NOTE {
  border: solid  #959595;
  border-width: 2px;
  background: white;
  border-left: 0px solid #e2daf1;
  border-left-width: 3rem;
}

blockquote.NOTE p {
  color: #000000!important;
}

body.vscode-high-contrast blockquote.NOTE {
  border: solid  #959595;
  border-width: 2px;
  background: white;
  color: #000000!important;
  border-left-width: 3rem;
}

body.vscode-high-contrast blockquote.NOTE p {
  color: #000000!important;
}

body.vscode-dark blockquote.NOTE {
  border: solid  #959595;
  border-width: 2px;
  background: white;
  color: #000000!important;
  border-left-width: 3rem;
}

body.vscode-dark blockquote.NOTE p {
  color: #000000!important;
}
blockquote.TIP {
  color: #094409!important;
  background:  #d2f9d2;
  border-left: 0px solid #d2f9d2;
  border-left-width: 3rem;
}

blockquote.TIP p {
  color: #000000!important;
}

body.vscode-high-contrast blockquote.TIP {
  border: solid  #094409;
  border-width: 2px;
  background: white;
  color: #000000!important;
  border-left-width: 3rem;
}

body.vscode-dark blockquote.TIP p {
  color: #000000!important;
}

body.vscode-dark blockquote.TIP {
  border-color: #094409;
  border-width: 2px;
  background: white;
  color: #000000!important;
  border-left-width: 3rem;
}

body.vscode-high-contrast blockquote.TIP p {
  color: #000000!important;
}

blockquote.IMPORTANT {
  color: #002b4d!important;
  background: #e0f2ff;
  border-left: 0px solid #002b4d;
  border-left-width: 3rem;
}

blockquote.IMPORTANT p {
  color: #000000!important;
}

body.vscode-high-contrast blockquote.IMPORTANT {
  border: solid  #EFD500;
  border-width: 2px;
  background: white;
  color: #000000!important;
  border-left-width: 3rem;
}

body.vscode-high-contrast blockquote.IMPORTANT p {
  color: 000000!important;
}

body.vscode-dark blockquote.IMPORTANT {
  border: solid  #EFD500;
  border-width: 2px;
  background: white;
  color: #000000!important;
  border-left-width: 3rem;
}

body.vscode-dark blockquote.IMPORTANT p {
  color: #000000!important;
}

blockquote.WARNING {
  color: #FA0F00!important;
  background: #ffdacc;
  border-left: 0px solid #ffdacc;
  border-left-width: 3rem;
}

blockquote.WARNING p {
  color: #000000!important;
}

body.vscode-high-contrast blockquote.WARNING {
  border: solid  #FA0F00;
  border-width: 2px;
  background: white;
  color: #000000!important;
  border-left-width: 3rem;
}

body.vscode-high-contrast blockquote.WARNING p {
  color: #000000!important;
}

body.vscode-dark blockquote.WARNING {
  border: solid  #FA0F00;
  border-width: 2px;
  background: white;
  color: #000000!important;
  border-left-width: 3rem;
}

body.vscode-dark blockquote.WARNING p {
  color: #000000!important;
}

blockquote.CAUTION {
  color: #EFCC00!important;
  background: #fff1cc;
  border-left: #fff1cc;
  border-left-width: 3rem;
}
blockquote.CAUTION p {
  color: #000000!important;
}

body.vscode-high-contrast blockquote.CAUTION {
  border: solid  #b49a00;
  border-width: 2px;
  background: white;
  color: #000000!important;
  border-left-width: 3rem;
}

body.vscode-high-contrast blockquote.CAUTION p {
  color: #000000!important;
}

body.vscode-dark blockquote.CAUTION {
  border: solid  #b49a00;
  border-width: 2px;
  background: white;
  color: #000000!important;
  border-left-width: 3rem;
}

body.vscode-dark blockquote.CAUTION p {
  color: #000000!important;
}